# Angular cache
.angular/

# Dependencies
node_modules/

# Build outputs (optionnel - décommentez si vous ne voulez pas versionner dist/)
# dist/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Temporary build folders
.tmp/
