:host ::ng-deep {
  .p-datatable {
    .p-datatable-thead > tr > th {
      background-color: var(--surface-50);
      color: var(--surface-700);
      font-weight: 600;
      padding: 1rem;
    }

    .p-datatable-tbody > tr {
      &:hover {
        background-color: var(--surface-50);
      }

      > td {
        padding: 0.75rem 1rem;
      }
    }
  }

  .dark {
    .p-datatable {
      .p-datatable-thead > tr > th {
        background-color: var(--surface-800);
        color: var(--surface-200);
      }

      .p-datatable-tbody > tr {
        &:hover {
          background-color: var(--surface-800);
        }
      }
    }
  }
}