.layout-profile-sidebar {
    &.p-sidebar {
        width: 25rem;

        .p-sidebar-content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .layout-profile-sidebar {
        &.p-drawer,
        &.p-sidebar {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}
